# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# env
#.env
.venv
venv/
*.env.secrets

# data
data/cache/
data/index/
data/processed/

# python
__pycache__/
*.pyc
